<h1>Flats#index</h1>
<p>Find me in app/views/flats/index.html.erb</p>

<% @flats.each do |flat| %>
<p>Flatname - <%= flat.name %></p>
<p>ID - <%= flat.id %></p>
<%= link_to flat.name, flat_path(flat) %>
<%= link_to 'Destroy',  flat_path(flat),  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<p><%= link_to "New flat", new_flat_path %></p>
